@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600;700&family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600;700&family=Chewy&family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600;700&family=Chewy&family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

body{
    background-color: rgb(255, 255, 255);
}
#ron{
    color: rgb(255,215,0);
    font-family:Montserrat;
    text-align: center;
    font-size: 120px;
}
p{
    font-family:assistant;
    font-size: 20px;
    color: black;
}
h2{
    font-size: 100px;
    text-align: center;
    font-family: montserrat;
    font-weight: bolder;

}
h3{
    font-family:Montserrat;
    font-size: 80px;
    color: rgb(15, 156, 156);
    
}
a{
    text-decoration: none;
}
a::focus{
    color: aquamarine;
}
#button1{
    padding:20px 30px;
    font-size:30pt;
    background-color:#19F8FF;
    text-align: center;
    font-family: Montserrat;
    font-size: 60px;
    margin: 50px;
    cursor: pointer;
    transition-duration: 0.5s;
    }
#button2{
    padding:20px 30px;
    font-size:30pt;
    background-color:#FF25EB;
    text-align: center;
    font-family: Montserrat;
    font-size: 50px;
    margin: 40px;
    cursor: pointer;
    transition-duration: 0.6s;
    
}
#button1:hover{
    background-color: #19FF84;
    color: rgb(0, 0, 0);
    transform: scale(1.2); 
  
}

#button2:hover{
    background-color: #BA17E8;
    color: rgb(0, 0, 0); 
    transform: scale(1.2); 
}

#button1{
    transition: all 0.4s;
}

#button2{
    transition: all 0.4s;
}

#button1 {

    background-color:19F8FF;
    font-weight: bold;
    color: black;
    border-radius: 50px;
    border: 0px;
    box-shadow: 0px 12px 15px #CCCCCC;
}
#button2 {

    background-color:#FF25EB;
    font-weight: bold;
    color: black;
    border-radius: 50px;
    border: 0px;
    box-shadow: 0px 12px 15px #CCCCCC;
}
#button3{
    padding:20px 30px;
    font-size:30pt;
    background-color:#19F8FF;
    text-align: center;
    font-family: Montserrat;
    font-size: 50px;
    margin: 40px;
    cursor: pointer;
    transition-duration: 0.6s;
}
#button3:hover{
    background-color: #19FF84;
    color: rgb(0, 0, 0); 
    transform: scale(1.2); 
}
#button3{
    transition: all 0.4s;
}
#button3 {

    background-color:#19F8FF;
    font-weight: bold;
    color: black;
    border-radius: 50px;
    border: 0px;
    box-shadow: 0px 12px 15px #CCCCCC;
}